<form
  action="https://buttondown.email/api/emails/embed-subscribe/weeklyfive"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/weeklyfive', 'popupwindow')"
  class="embeddable-buttondown-form subscribe-form"
>
  <input
    type="email"
    placeholder="Enter your email..."
    name="email"
    id="bd-email"
    class="form-control subscribe-input"
  />
  <input type="hidden" value="1" name="embed" />
  <input type="submit" value="Subscribe" class="btn subscribe-button" />
</form>
